<h1>List of events</h1>
<% admin = Admin.find_by username: session[:username] %>
<% if admin.present? %>
    <%= link_to "Add talk to event", new_event_talk_path %>
<% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-striped ">
      <thead>
      <tr>
        <td>Title</td>
        <td>Presenters</td>
      </tr>
      </thead>
      <tbody>

      <% @talks.each do |talk| %>
          <tr>
            <td><%= talk.title %></td>
            <td><%= talk.presenters %></td>
            <td><%= link_to "Give Feedback", new_event_talk_feedback_path(@event, talk) %></td>
            <% admin = Admin.find_by username: session[:username] %>
            <% if admin.present? %>
                <td><%= link_to "View Submitted Feedback", event_talk_feedbacks_path(@event, talk) %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>